body{
    width:100%;
    background:white;
}
.wrapper{
    font-size:50px;
    padding: 10px;
  margin:80px 20px 0 20px;
    text-align: center;
    
    
}
.der{
    padding: 8px 5px 0 5px;
    width:100%;
    position: fixed;
    border:solid ;
    background-color: white;
    height:50px;
    align-content: center;
    
}
.one{
    width: 30px;
    height: 2px;
    background-color: black;
    margin:5px;
}
.two{
    width: 25px;
    height: 2px;
    background-color: black;
    margin:5px;
}
.three{
    width: 30px;
    height: 2px;
    background-color: black;
    margin:5px;
}
.na{
    display: inline;
    position:fixed;
    top: 0;
    right:0;
    margin:5px;
    height:40px;
    border-radius:15px;
    width: 90px;
    background-color: #1d6db8;
    font-family: Sans-Serif;
    font-size: 15px;
    font-weight: bold;
    color:white;
    transition: 0.2s;
}

.na:hover{
    width: 100px;
    transition: 0.2s;
}


.nav{
    width: 40px;
    transition: 0.2s;
}

.nav:active{
    background-color:#1d6db8;
    transition: 0.1s;
}

.nav:hover{
 .one{
    background-color:blue;
}
.two{
    background-color:blue;
    width:30px;
}
.three{
    background-color:blue;
}
border-radius:10px;
transition: 0.2s;
}

header{
    background-color: teal;
    display: absolute;
    position: fixed;
    top:0;
    left:0;
}
.div1{
    background: url('https://i.imgur.com/gleGMce.jpg');
color:white;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
text-align: center;
margin: 0 -2.5% 0 -2.5%;
font-family: Georgia;
border:solid;
}

.lenmo{
    font-size: 17px;
    margin-top:0 25px 0 25px;
    color:white;
    text-align: center;
}

.navb{
    margin:165px 5px 5px 5px;
    height:40px;
    border-radius:15px;
    width: 90px;
    background-color:#871010;
    font-family: Sans-Serif;
    font-size: 15px;
    font-weight: bold;
    color:white;
    transition: 0.5s;
}

.navb:active{
    border-color:blue;
    transition: 0.5s;
}

.navb:hover{
    height: 60px;
    width:110px;
    transition: 0.5s;
}


.inwrap{
    text-align: center;
}

.fa-solid{
    /*padding: 20px 33% 0 33%;*/
   font-size: 55px;
    color: #1d6db8;
}

.fonts1{
    margin-top: 50px;
    text-align: center;
}

.fonts3{
    margin-top: 50px;
    text-align: center;
}

.italic1{
    
    color:white ;
    font-family: fantasy;
    font-size: 17px;
    margin:-20px 20px 0 20px;
}

.img1{
    width:100px;
    height:85px;
}

}
.img2{
    height:5px;
    width:5px;
    display:block;
    position: fixed;
    top:2px;
    right:50%;
    padding: 0 5px 0 5px;
    
}
.intro1{
    text-align:center;
}


.foot1{
    text-align: center;
}
.navc{
    margin:3px 5px 45px 5px;
    height:40px;
    border-radius:15px;
    width: 200px;
    background-color:#871010;
    font-family: Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    color:white;
}
.footimg{
       height:80px;
    width:120px;
    margin-top:10px;
    
}
.footdiv{
    text-align: center;
}
.footdiv1{
    text-align: center;
    display:inline-block;
}
.fontsfoot{
    text-align: center;
    margin:50px;
}
.fab{
    margin:10px;
   /* color:#1d6db8;*/
   color:red;
    height:25px;
    width:38px;
}
.card{
    margin:20px;
}
footer{
    background-color:whitesmoke;
}

.btn:active{
    padding:10px;
    text-align: center;
    height:50px;
    width:160px;
    
}

.foot-ul{
    text-decoration:none;
    list-style-type: none;
    
}

.foot-align{
    text-align: center;
    margin-top:20px;
}