#indexMain{
background-image:url("https://i.ibb.co/xzBhyr5/peakpx-6.jpg");   
 background-color: azure;
    margin:75px;
    padding:45px;
    border-radius:50px;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainbut{
    height:40px;
    width:300px;
    cursor: pointer;
    margin-left: 20%;
} 

.mainbut:hover{
    background-color: rgb(0, 156, 34);
    transition-duration: 0.3s;
}
    .welfont{
       font-size: 18px;
       word-spacing:8px;
    }

    #warning{
        color:red;
    }
    .codei{
        color:green;
        font-size: 15px;
        border: solid;
        padding: 50px;
        background-color: rgb(0, 3, 12);
        width:70%;
    }
    .explain{
        text-decoration: underline;
    }
    .site1{
background-color: rgb(194, 174, 147);
    }
    div{
        display:inline-block;
    }

    /*webpage-2/asindex april 29/30 2024 assignment css*/
.butedit{
    height: 220px;
    margin:7px;
    background-color: rgb(122, 91, 91);
    font-weight:bold;
    font-size: 15px;
}
.butedit:hover{
    background-color: rgb(170, 192, 45);
    transition-duration: 0.3s;
}
.site{
    background-color:rgb(153, 162, 168);
}
.butedit:active{
    border:10px solid;
    background-color:green;
} 
