#indexMain{  
 background-color: #9ef5ff;
    color:white;
    margin:45px;
    padding:20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainbut{
background-color:green;
    height:40px;
    width:150px;
    cursor: pointer;
margin-left:20%;
border-radius:20px;
} 

.mainbut:hover{
    background-color: rgb(0, 156, 34);
    transition-duration: 0.3s;
}
    .welfont{
       font-size: 18px;
       word-spacing:8px;
color:white;
    }

    #warning{
        color:red;
    }
    .codei{
        color:green;
        font-size: 15px;
        border: solid;
        padding: 50px;
        background-color: white;
        width:70%;
    }
    .explain{
        text-decoration: underline;
    }
    .site1{
background-color: rgb(194, 174, 147);
    }
    div{
        display:inline-block;
    }

    /*webpage-2/asindex april 29/30 2024 assignment css*/
.butedit{
    height: 220px;
    margin:7px;
    background-color: rgb(122, 91, 91);
    font-weight:bold;
    font-size: 15px;
border-radius:30px;
}
.butedit:hover{
    background-color: rgb(170, 192, 45);
    transition-duration: 0.3s;
}
.site{
    background-color:rgb(153, 162, 168);
}
.butedit:active{
    border:10px solid;
    background-color:green;
} 
